<!--
  Generated template for the TimesheetUserViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="dark">
      <ion-title>Timesheet</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-grid>
          <ion-row align-items-center>
            <ion-col col-6 offset-3 text-center>
                <ion-list>
                    <ion-list-header>
                     Timesheet {{status}}
                    </ion-list-header>
                
                    <ion-item>
                      <ion-label>Date</ion-label>
                      <ion-datetime displayFormat="DDD DD/MM/YYYY" pickerFormat="DD MMM YYYY" max="2027-12-31" [(ngModel)]="timesheetDto.date" (ionChange)="dateChanged()" disabled="{{(timesheetDto.approved || timesheetDto.supVerified)}}"
                        placeholder="Select Date"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label>Trans Code</ion-label>
                      <ion-select placeholder="Select Transaction" [(ngModel)]="timesheetDto.transCode" disabled="{{(timesheetDto.approved || timesheetDto.supVerified)}}">
                        <ion-option *ngFor="let transCode of transCodes" [value]="transCode">{{transCode}}</ion-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-label>Cost Centre</ion-label>
                      <ion-select placeholder="Select Cost Centre" [(ngModel)]="timesheetDto.costCentre" disabled="{{(timesheetDto.approved || timesheetDto.supVerified)}}">
                        <ion-option *ngFor="let costCentreCode of costCentreCodes" [value]="costCentreCode">{{costCentreCode}}</ion-option>
                      </ion-select>
                    </ion-item>
                    <ion-item-sliding>
                      <ion-item>
                        <ion-label>Start Shift</ion-label>
                        <ion-datetime displayFormat="HH:mm" [(ngModel)]="timesheetDto.startTime" placeholder="Select Date" (ionChange)="calculateTotalHours()"
                          disabled="{{(timesheetDto.date==null)|| (timesheetDto.approved || timesheetDto.supVerified) }}"></ion-datetime>
                      </ion-item>
                      <ion-item-options side="right">
                        <button *ngIf="this.timesheetDto.startTimeLocation!=null" ion-button color="secondary" [disabled]="(timesheetDto.approved || timesheetDto.supVerified)" (click)="getGeoLocation('startTime')">
                          <ion-icon name="pin"></ion-icon>
                        </button>
                        <button *ngIf="this.timesheetDto.startTimeLocation==null" ion-button color="danger" [disabled]="(timesheetDto.approved || timesheetDto.supVerified)" (click)="getGeoLocation('startTime')">
                          <ion-icon name="pin"></ion-icon>
                        </button>
                      </ion-item-options>
                    </ion-item-sliding>
                    <ion-item-sliding>
                      <ion-item>
                        <ion-label>End Shift</ion-label>
                        <ion-datetime displayFormat="HH:mm" [(ngModel)]="timesheetDto.endTime" placeholder="Select Date" (ionChange)="calculateTotalHours()"
                          disabled="{{(timesheetDto.date==null) || (timesheetDto.approved || timesheetDto.supVerified)}}"></ion-datetime>
                      </ion-item>
                      <ion-item-options side="right">
                        <button *ngIf="timesheetDto.endTimeLocation!=null" ion-button color="secondary" [disabled]="(timesheetDto.approved || timesheetDto.supVerified)" (click)="getGeoLocation('endTime')">
                                  <ion-icon name="pin"></ion-icon>
                                </button>
                        <button *ngIf="timesheetDto.endTimeLocation==null" ion-button color="danger" [disabled]="(timesheetDto.approved || timesheetDto.supVerified)" (click)="getGeoLocation('endTime')">
                                  <ion-icon name="pin"></ion-icon>
                                </button>
                      </ion-item-options>
                    </ion-item-sliding>
                
                    <ion-item>
                      <ion-label>Break Duaration </ion-label>
                      <ion-toggle item-start [(ngModel)]="breakFlg" disabled="{{timesheetDto.date==null}}"></ion-toggle>
                      <ion-input type="number" text-right [ngModel]="breakDuration" disabled="true"></ion-input>
                    </ion-item>
                    <ion-item-sliding>
                      <ion-item *ngIf="breakFlg">
                        <ion-label>Start Break</ion-label>
                        <ion-datetime displayFormat="HH:mm" [(ngModel)]="timesheetDto.breakStart" placeholder="Select Date" (ionChange)="calculateTotalHours()"
                          disabled="{{(timesheetDto.date==null) || (timesheetDto.approved || timesheetDto.supVerified)}}"></ion-datetime>
                      </ion-item>
                      <ion-item-options side="right">
                        <button *ngIf="timesheetDto.breakStartLocation!=null" ion-button color="secondary" [disabled]="(timesheetDto.approved || timesheetDto.supVerified)" (click)="getGeoLocation('breakStart')">
                                    <ion-icon name="pin"></ion-icon>
                                  </button>
                        <button *ngIf="timesheetDto.breakStartLocation==null" ion-button color="danger" [disabled]="(timesheetDto.approved || timesheetDto.supVerified)" (click)="getGeoLocation('breakStart')">
                                    <ion-icon name="pin"></ion-icon>
                                  </button>
                      </ion-item-options>
                    </ion-item-sliding>
                    <ion-item-sliding>
                      <ion-item *ngIf="breakFlg">
                        <ion-label>End Break</ion-label>
                        <ion-datetime displayFormat="HH:mm" [(ngModel)]="timesheetDto.breakEnd" placeholder="Select Date" (ionChange)="calculateTotalHours()"
                          disabled="{{(timesheetDto.date==null) || (timesheetDto.approved || timesheetDto.supVerified)}}"></ion-datetime>
                      </ion-item>
                      <ion-item-options side="right">
                        <button *ngIf="timesheetDto.breakEndLocation!=null" ion-button color="secondary" [disabled]="(timesheetDto.approved || timesheetDto.supVerified)" (click)="getGeoLocation('breakEnd')">
                                    <ion-icon name="pin"></ion-icon>
                                  </button>
                        <button *ngIf="timesheetDto.breakEndLocation==null" ion-button color="danger" [disabled]="(timesheetDto.approved || timesheetDto.supVerified)" (click)="getGeoLocation('breakEnd')">
                                    <ion-icon name="pin"></ion-icon>
                                  </button>
                      </ion-item-options>
                    </ion-item-sliding>
                    <ion-item>
                        <ion-label>Note </ion-label>
                        <ion-toggle item-start [(ngModel)]="noteFlg"></ion-toggle>
                    </ion-item>
                    <ion-item *ngIf="noteFlg">
                        <ion-input [(ngModel)]="timesheetDto.note" placeholder="" disabled="{{timesheetDto.approved || timesheetDto.supVerified}}"></ion-input>
                   </ion-item>
                    <ion-item>
                      <ion-label>Total Hours</ion-label>
                      <ion-input type="number" text-right [(ngModel)]="totalHours" disabled="true"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="timesheetDto.updatedBy!==null || timesheetDto.updatedBy===''">
                      <ion-label>Updated By: {{timesheetDto.updatedBy}}</ion-label>
                    </ion-item>
                    <button [disabled]="(timesheetDto.approved || timesheetDto.supVerified)" ion-button full color="dark" (click)=" updateUserTimesheetDto()">Update</button>
                
                
                  </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
    
  
  </ion-content>