<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs>
 <ion-tab [root]="tab1" tabTitle="Home" tabIcon="home"></ion-tab>
 <!--<ion-tab [root]="tab8" tabTitle="TS" tabIcon="time" show="{{user.role != 'aus_role'}}"></ion-tab>
 <ion-tab [root]="tab2" tabTitle="LR" tabIcon="create" show="{{user.role != 'aus_role'}}"></ion-tab>
 <ion-tab [root]="tab9" tabTitle="Approvals" tabIcon="copy" show="{{user.role == 'aus_role'}}"></ion-tab>
 <ion-tab [root]="tab3" tabTitle="Approvals" tabIcon="copy" show="{{user.role == 'mss_role'}}"></ion-tab>
 <ion-tab [root]="tab4" tabTitle="TC" tabIcon="calendar" show="{{user.role != 'aus_role'}}"></ion-tab>
 <ion-tab [root]="tab5" tabTitle="Evacuation Rollcall" tabIcon="finger-print" show="{{user.role != 'ess_role'}}"></ion-tab>
 <ion-tab [root]="tab6" tabTitle="Visitor Rollcall" tabIcon="eye" show="{{user.role != 'ess_role'}}"></ion-tab>
 <ion-tab [root]="tab7" tabTitle="Warden Warning" tabIcon="flag" show="{{user.role != 'ess_role'}}"></ion-tab>-->
 <!--<ion-tab [root]="tab8" tabTitle="PhotoUploadTest" tabIcon="camera"></ion-tab>-->

 <ion-tab [root]="tab8" tabTitle="TS" tabIcon="time" show="{{user.role != 'mss_role_lr' && user.role != 'ess_role_lr'}}"></ion-tab>
 <ion-tab [root]="tab2" tabTitle="LR" tabIcon="create" show="true"></ion-tab>
 <ion-tab [root]="tab3" tabTitle="Approvals" tabIcon="copy" show="{{user.role == 'mss_role_lr' || user.role == 'mss_role_ts' }}"></ion-tab>
 <ion-tab [root]="tab4" tabTitle="TC" tabIcon="calendar" show="true"></ion-tab>
 <ion-tab [root]="tab7" tabTitle="Warden Warning" tabIcon="flag" show="true"></ion-tab>
 <ion-tab [root]="tab5" tabTitle="Evacuation Rollcall" tabIcon="finger-print" show="true"></ion-tab>
 <ion-tab [root]="tab6" tabTitle="Visitor Rollcall" tabIcon="eye" show="true"></ion-tab>
 <ion-tab [root]="tab10" tabTitle="MyDocuments" tabIcon="document" show="true"></ion-tab>

</ion-tabs>
