<!--
  Generated template for the MyDocumentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="dark">
      <ion-title>My Documents</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-grid>
          <ion-row align-items-center>
            <ion-col col-6 offset-3 text-center>
                <ion-list >
                    <ion-item *ngFor="let pdfFile of pdfFiles" (click)="viewDocument(pdfFile)">
                    <p><ion-icon name="document"></ion-icon> {{pdfFile}}</p>
                    </ion-item>
                   </ion-list>
                   <ion-item *ngIf="pdfFiles===null || pdfFiles.length===0">
                      <h2>No Documents Found</h2>
                    </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
   
      
     
    
  
  
   
  </ion-content>
