<ion-header>
  
    <ion-navbar color="dark">
      <ion-title>Details</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-grid>
          <ion-row align-items-center>
            <ion-col col-6 offset-3 text-center>
                <ion-list no-border>
                    
                        <ion-list-header>
                          {{employee.lname}}, {{employee.fname}}
                        </ion-list-header>
                    
                        <ion-item>
                          <ion-icon name='clipboard' item-start></ion-icon>
                          {{employee.empNo }}
                          <ion-note item-end>
                            Employee Id
                          </ion-note>
                        </ion-item>
                        <ion-item>
                          <ion-icon name='laptop' item-start></ion-icon>
                          {{employee.deviceName }}
                          <ion-note item-end>
                            Clock Device
                          </ion-note>
                        </ion-item>
                        <ion-item >
                          <ion-icon name='clock' item-start></ion-icon>
                         <p ion-text color="secondary">{{employee.timeIn }}</p>
                          <ion-note item-end>
                            Clock Time
                          </ion-note>
                        </ion-item>
                    
                       <ion-item>
                          <ion-icon name='man' item-start></ion-icon>
                           {{employee.empPosition }}
                          <ion-note item-end>
                            Position
                          </ion-note>
                        </ion-item>
                    
                        <ion-item>
                          <ion-icon name='phone-portrait' item-start></ion-icon>
                          {{employee.empMobile}}
                          <ion-icon name='call' item-end color="secondary" (click)="call(employee.empMobile)"></ion-icon>
                        </ion-item>
                    
                        <ion-item>
                          <ion-icon name='people' item-start></ion-icon>
                          {{employee.reportsTo}}
                          <ion-note item-end>
                            Report's To
                          </ion-note>
                        </ion-item>
                        <ion-item>
                          <ion-icon name='body' item-start></ion-icon>
                           {{employee.reportsToPosition }}
                           <ion-note item-end>
                            Report's To Position
                          </ion-note>
                        </ion-item>
                        
                          
                          <ion-item>
                            <ion-icon name='phone-portrait' item-start></ion-icon>
                            {{employee.reportsToMobile}}
                            <ion-icon name='call' item-end color="secondary" (click)="call(employee.reportsToMobile)"></ion-icon>
                         </ion-item>
                          
                         
                    
                    
                    
                      </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
   
  
  
  
  
    
  </ion-content>