<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Dashboard
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
 
  <ion-grid>
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content refreshingText="Refreshing...">></ion-refresher-content>
        </ion-refresher>
    <ion-row align-items-center>
      <ion-col col-6 offset-3 text-center>
        <img src="assets/img/ws_trans.png" />
        
          <ion-card>
        
            <ion-card-content>
              <ion-card-title>
                Welcome!
              </ion-card-title>
              <p>
                {{user.displayname}}
              </p>
            </ion-card-content>
        
        
        
            <ion-item *ngIf="user.role != 'ess_role'">
              <ion-icon name='finger-print' item-start style="color: #d03e84"></ion-icon>
              Employees Onsite
              <ion-badge item-end>{{employeeCount.count}}</ion-badge>
            </ion-item>
        
            <ion-item *ngIf="user.role != 'aus_role'">
              <ion-icon name='person' item-start style="color: #55acee"></ion-icon>
              Employees on Leave Today
              <ion-badge item-end>{{leave}}</ion-badge>
            </ion-item>
        
            <ion-item *ngIf="user.role != 'ess_role'">
              <ion-icon name='finger-print' item-start style="color: #d03e84"></ion-icon>
              Visitors Onsite
              <ion-badge item-end>{{visitorCount.count}}</ion-badge>
            </ion-item>
        
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>