<!--
  Generated template for the LeaveRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="dark">
      <ion-title>Leave Request</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-6 offset-3 text-center>
        <p>
          <button ion-button color="dark" block (click)="showNewLeaveRequest(shift)">New Single Date Leave Request</button>
        </p>
      
        <p>
          <button ion-button color="dark" block (click)="showNewMultiLeaveRequest(shift)">New Multiple Date Leave Request</button>
        </p>
      
        <p>
          <button ion-button color="dark" block (click)="goToLeaveRequestView()">View Leave Request</button>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

 
</ion-content>