<!--
  Generated template for the RollcallVisitorDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row align-items-center>
          <ion-col col-6 offset-3 text-center>
              <ion-list no-border>
                  
                      <ion-list-header>
                        {{visitor.visitorDesc}}
                      </ion-list-header>
                  
                      <ion-item>
                        <ion-icon name='clipboard' item-start></ion-icon>
                        {{visitor.visitorCode }}
                        <ion-note item-end>
                          Visitor Id
                        </ion-note>
                      </ion-item>
                      <ion-item>
                        <ion-icon name='phone-portrait' item-start></ion-icon>
                        {{visitor.visitorMobile}}
                        <ion-icon name='call' item-end color="secondary" (click)="call(employee.empMobile)"></ion-icon>
                      </ion-item>
                      <ion-item>
                        <ion-icon name='phone-portrait' item-start></ion-icon>
                        {{visitor.reportsToMobile}}
                        <ion-icon name='call' item-end color="secondary" (click)="call(employee.reportsToMobile)"></ion-icon>
                      </ion-item>
                    </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
 





</ion-content>