page-timesheet-user-calendar {
    
    

    .monthview-selected[_ngcontent-c1] {
        background-color:  #3a87ad;
        color: white;
    }
    .monthview-primary-with-event[_ngcontent-c1] {
        background-color:#56595A;
        color: white;
    }
    .monthview-primary-with-event.monthview-selected {
        background-color:  #3a87ad;
    }

    
    
      
    
    ////

   /* .text-muted[_ngcontent-c1] {
        color: #77A7BD;
    }
    .monthview-secondary-with-event[_ngcontent-c1] {
        background-color: #9FA0A0;
    }*/
}
